
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/servico_css/form_solicitacao_servico.css}">
    <link rel="stylesheet" href="/principal/css/servico_css/form_solicitacao_servico.css">
    <title>Envio de Solicitação para Motorista</title>
   
</head>
<body>

    <!-- direcionamento da pagina do head do usuairo -->
    <div th:include="usuario_html/header-usuario.html"></div>
  

   
    <div class="box">
        <form action="/usuario/solicitacao"  id="solicitacao-form"  method="post" th:object="${solicitacaoUsuario}" onsubmit="return enviarFormularioWhatsApp()">
            <fieldset>
                <legend><b>Envio de Solicitação Para Motorista</b></legend>
                <br>
                       
                <label ><b>Data do Serviço:</b></label>
                <input type="date" name="data" id="data" class="data-servico" required>
                <div id="mensagemErroData"></div>
                <br><br>


                <div class="inputBox">
                
                <input type="text" name="hora" id="hora" class="inputUser" required>
                <label for="hora" class="labelInput">Horario de Partida:</label>
                 </div>
                <br><br><br>


                <div class="inputBox">
                    <input type="number" name="valor" id="valor" class="inputUser"  required>
                    <label for="valor" class="labelInput">Oferte um Valor $</label>
                </div>
                <br><br>
                

                <div class="input-group">
                <label for=""><b>Endereço de Partida</b></label>
                <br><br><br>

                <div class="inputBox">
                    <input type="text" name="enderecoPartida.cep" id="cep" class="inputUser"  onkeyup="buscarCepPartida()" >
                    <label for="cep" class="labelInput" required>Cep</label>
                    <div id="mensagemErro"></div>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="logradouro" name="enderecoPartida.logradouro" id="logradouro" class="inputUser"  disabled required>
                    <label for="logradouro" class="labelInput">Logradouro</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="bairro" name="enderecoPartida.bairro" id="bairro" class="inputUser"  disabled required>
                    <label for="bairro" class="labelInput">Bairro</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="enderecoPartida.cidade" id="cidade" class="inputUser"  disabled required> 
                    <label for="cidade" class="labelInput">Cidade</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="enderecoPartida.complemento" id="complemento" class="inputUser"  disabled required>
                    <label for="complemento" class="labelInput">Numero/Complemento/Referência</label>
                </div>
                <br><br>
            
                <div class="input-group">
                    <label ><b>Endereço de Chegada</b></label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="enderecoChegada.cep2" id="cep2" class="inputUser"  onkeyup="buscarCepChegada();calcularDistancia()" maxlength="8" required>
                    <label for="cep2" class="labelInput">Cep</label>
                    <div id="mensagemErro2"></div>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="enderecoChegada.logradouro2" id="logradouro2" class="inputUser"  disabled required>
                    <label for="logradouro2" class="labelInput">Logradouro</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="bairro" name="enderecoChegada.bairro2" id="bairro2" class="inputUser"  disabled required>
                    <label for="bairro2" class="labelInput">Bairro</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="enderecoChegada.cidade2" id="cidade2" class="inputUser"  disabled required>
                    <label for="cidade2" class="labelInput">Cidade</label >
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="enderecoChegada.complemento2" id="complemento2" class="inputUser"  disabled required >
                    <label for="complemento2" class="labelDesabilitado">Numero/Complemento/Referência</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <label for="result" class="labelDesabilitado">Distancia Total:</label>
                    <input type="text" name="result" id="resultado" class="inputUser" required readonly>
                </div>
                <br><br>
                

                <div class="input-group">
                    <label ><b>Informaçõe Motorista / Veiculo</b></label>
                </div>
                <br><br><br>


                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" value="Carlos Santos" required readonly >
                    <label for="nome" class="labelDesabilitado">Nome Motorista</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="veiculo" id="veiculo" class="inputUser" value="Van" required readonly>
                    <label for="veiculo" class="labelDesabilitado">Veiculo</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="nomeModelo" id="nomeModelo" class="inputUser" value="Mercedes Sprinter" required readonly>
                    <label for="nomeModelo" class="labelDesabilitado">Nome / Modelo</label>
                </div>
                <br><br>
                

                <div class="inputBox">
                    <input type="text" name="servico" id="servico" class="inputUser"  required value="Viagem" readonly >
                    <label for="servico" class="labelDesabilitado">Servico</label>
                </div>
                <br><br>

                <div class="inputBox">
                    <input type="text" name="capacidade" id="capacidade" class="inputUser" value="15 lugares" required readonly>
                    <label for="capacidade" class="labelDesabilitado">Capacidade</label>
                </div>
                <br><br>

            <button type="submit" name="submit" id="submit">Enviar</button></a>
            <div th:text="${msgError}" th:style="${style}"> </div>
            <div th:text="${msgSucess}" th:style="${style}"> </div>
            </fieldset>
            
        </form>
        
    </div>


        

     

    

    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMROG67dMisX221hCQHTg-BOqFwCz3ASM&libraries=geometry&callback=initMap" async defer></script>
    <script th:src="@{/js/servico_js/buscar_cep_partida.js}" defer></script>
    <script th:src="@{/js/servico_js/buscar_cep_chegada.js}" defer></script>
    <script th:src="@{/js/servico_js/envio_whatsapp.js}" defer></script>
    <script th:src="@{/js/servico_js/calcular_distancia.js}" defer></script>

<!--
    <script src="/principal/js/servico_js/envio_whatsapp.js"></script>
    <script src="/principal/js/servico_js/calcular_distancia.js"></script>
    <script src="/principal/js/servico_js/form_solicitacao_servico.js"></script>
   -->
    
   
</body>
</html>