<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/servico_css/listando_servico_mudanca.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Servico Mudança</title>
</head>
<body style="background-color:#d9ebf581;">

<!-- direcionamento da pagina do head do usuairo -->
<div th:include="usuario_html/header-usuario.html"></div>
  



<section >

<div class="container" style="width: 60%; padding-bottom: 30px;">
<br>
 <h3 style="width:100%">Lista dos Motorista Disponiveis para serviço de Mudanças</h3>
<br>

<div class="card mb-3" style="max-width: 840px; padding: 0.62rem;box-shadow: 1px 1px 10px #403aaaef;"  >
 <div class="row g-0" >
   <div class="col-md-4">
     <img th:src="@{/img/servico_img/caminhao.jpg}" style=" width: 400px; height: 200px;  box-shadow: 1px 1px 5px #403aaaef; " class="img-fluid rounded-start"   alt="...">
   </div> 
   <div class="col-md-8" >
     <div class="card">
       <div class="label-card" >
         <div class="group" >
       <label for="" style="font-size: 0.83rem;">Nome do motorista</label>
       <h5 class="card-title"><span >Pedro Barbosa</span></h5>
         </div>

         <div class="group">
       <label for="" style="font-size: 0.83rem;">Nome/Modelo veiculo</label>
       <h5 class="card-title"><span >Mercedes Benz</span></h5>
     </div>
   </div>

   <div class="label-card">
     <div class="group">
       <label for="" style="font-size: 0.83rem;">Carga Maxima Litros</label>
       <h5 class="card-title"><span>2000 KG</span></h5>
     </div>

     <div class="group">
       <label for="" style="font-size: 0.83rem;">Ano Veiculo</label>
       <h5 class="card-title"><span>2018</span></h5>
     </div>
   </div>
   <div class="group">
       <label for="" style="font-size: 0.83rem;">obeservações adicionais</label>
       <h6 class="card-text" ><span style="font-size: 0.93rem;">Estou disponivel para realizar mudanças em quaquer lugar.
       </div>
         
       </span></h6>   
     </div>
   </div>
 </div>
 <div class="btn-cadastrar">
   <button id="btn-cadastrar" type="submit" style="color: white;"><a  th:href="@{/usuario/formSolicitacao}">Gostei desse Motorista</a> </button>
</div>


</div>




</section>


</body>
</html>