

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*tela inteira*/
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9ebf5fb;
    
}

/*quadrado do meio*/
.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 6px 5px 10px #452cd1;;
}

/*div da imagem*/
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
    padding: 1rem;
   
}

.form-image img {
    width: 31rem;
    box-shadow: 6px 5px 10px #d9ebf5fb;
    
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 5rem;
}


/*traço de baixo do nome confirme email*/
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #202e64;;
    margin: 1 auto;
    position: absolute;
    
}

/*configura tamanho e posição dos inputs*/
.input-group { 
    padding: 1rem 0;
}

.input-box {
    margin-bottom: 0.5rem;
}

/*Luz de fora nos campos para digitar*/
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #403aaaef;
    font-size: 0.8rem;
}

/*luz de dentro quando clicar acender*/
.input-box input:hover {
    background-color: #9dc9ec25;
}

/*acende linhas do campo de digitar*/
.input-box input:focus-visible {
    outline: 1px solid #332cb8;
}

/*cor da letra dos campos solicitando os dados ex: nome cpf*/
.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #020202c0;
}

.input-box input::placeholder {
    color: #554df5e1;
}

/*botao enviar*/
.btn-cadastrar button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #202e64;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

/*acendendo botao enviar*/
.btn-cadastrar button:hover {
    background-color: #332cb8;
}

/*nome enviar dentro do botao*/
.btn-cadastrar button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}


.linha-email{
    width: 28rem;
    height: 2.8rem;
}


/*responsivo tela tablet*/
@media screen and (max-width:1330px) {
    .form-image{
        display:none;
    }
.container{
    width: 50%;
}
.form{
    width: 100%;
}

}

/*responsivo tela celular*/
@media screen and (max-width:1064px){
    .container{
        width: 90%;
        height: auto;
    }
    /*barra de rolagem*/
    .input-group{
        max-width: 14rem;
    }

    .linha-email{
        width: 12rem;
        height: 2rem;
    }
    

}


