@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*inicio nav-bar*/
header{
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
  
  }
  
  /*posicionar os elementos*/
  .nav-bar {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 6rem;
  }
  
  /*mechendo na logo*/
  .logo{
      display: flex;
      align-items: center;
  }
  
  /*cor na logo*/
  .logo h1{
      color: rgb(232, 232, 231);
  }
  
  /*constumizando o links do menu*/
  /*deixando centralizado*/
  .nav-list{
      display: flex;
      align-items: center;
  }
  
  /*colocando certo um do lado do outro*/
  .nav-list ul{
      display: flex;
      justify-content: center;
      list-style: none;
  }
  
  /*colocando espaço entre itens*/
  .nav-item{
      margin: 0 15px;
  }
  
  /*editando fonte*/
  .nav-link{
      text-decoration: none;
      font-size: 1.15rem;
      color: rgb(232, 232, 231);
      transition: all 0.5s;   
      font-weight: 400;
      
  }
  .nav-link:hover{
      color: rgb(255, 255, 255);
      font-size: 1.36rem;
   
  }

 /*Constumizando botao*/
 .login-button button{
    border: none;
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
    padding: 10px 15px;
    transition: all 0.5s;
    border-radius: 5px;    
}
/* mudando a cor quando passar o mouse por cima*/
.login-button button:hover{
    background:  #332cb8a8; 
    transform: scale3d(1.1, 1.1, 1);
    transition: all 0.3s;
}

.login-button button a{
    text-decoration: none;
    color: rgb(232, 231, 231);
    font-weight: 400;
    transition: all 0.3s;
    font-size: 1.1rem; 
}

/*fim nav-bar*/

/*tela inteira*/
body {
      background: #d9ebf5fb; 
}

/*quadrado do meio*/
.container {
     
    max-width: auto;
    max-height: auto; 
    box-shadow: 5px 5px 10px #202e64;;
    border-radius: 10px;
    transform: translate(0%,20%);

}

img{
    max-width: 80px;
    max-height: 80px; 
    
}