<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" th:href="@{/css/veiculo_css/editar_veiculo.css}">   
  
    <title>Editar Veiculo</title>
</head>

<body>
   
      <!-- direcionamento da pagina do head do motorista -->
<div th:include="motorista_html/header-motorista.html"></div>
   

   


    <div class="container">
        <div class="form-image">
    
            <img th:src="@{/img/veiculo_img/cadastro_veiculo02.jpg}" alt="imagem cadastro veiculo">
        </div>

        <div class="form">
            <form action="#" th:action="@{/veiculo/cadastrar}" th:object="${veiculo}" method="post">
                <input type="hidden" th:field="*{id}" id="id" name="id" >
                <div class="form-header">
                    <div class="title">
                        <h1>Editar Veiculo</h1>
                        <br>
                    </div>
                </div>

                <div class="input-group">

                    <div class="input-box">
                        <label for="" class="nome-select">Selecione o Veiculo</label >
                        <select name="automovel" id="veiculo" onchange="ocultar_servico()"  th:field="*{automovel}">
                            <option value=""></option>
                            <option id="carro" value="CARRO" name="carro">Carro</option>
                            <option id="kombi" value="KOMBI" name="kombi" >Kombi</option>
                            <option id="van" value="VAN" name="van" >Van</option>
                            <option id="onibus" value="ONIBUS" name="onibus" >Onibus</option>
                            <option id="caminhonete" value="CAMINHONETE" name="caminhonete">Caminhonete</option>
                            <option id="caminhao" value="CAMINHAO" name="caminhao">Caminhão</option>
                        </select>  
                    </div>

                    <div class="input-box">
                        <label id="servicoo" for="" class="nome-select">Servico Selecionado</label>
                        <select name="servico" id="servico" onchange="ocultar_servico()" th:field="*{servico}">
                            <option id="" value=""></option>
                            <option id="frete" value="FRETE" name="frete" >Frete</option>
                            <option id="mudanca" value="MUDANCA" name="mudanca">Mudança</option>
                            <option id="viagem" value="VIAGEM" name="viagem">Viagem</option>
                           
                        </select>  
                    </div>



                    <div class="input-box">
                        <label for="">Numero do documento do veiculo</label>
                        <input id="numero_veiculo" type="text" name="documento" th:field="*{documento}" class="linha-numero_veiculo" placeholder="" required data-input >  
                    </div>

                    <div class="input-box">
                        <label for="">Placa veiculo</label>
                        <input id="placa_veiculo" type="text" name="placa"  th:field="*{placa}" class="linha-placa_veiculo" placeholder="Informe a placa do Veiculo" required data-input>  
                    </div>

                    <div class="input-box">
                        <label for="">Nome/Modelo</label>
                        <input id="nome-modelo" type="text" name="nomeModelo"  th:field="*{nomeModelo}" class="linha-nome-modelo" placeholder="Informe nome/modelo do veiculo" required data-input>
                    </div>

                    <div class="input-box">
                        <label for="">Ano Fabricação</label>
                        <input id="ano_fabricacao" type="text" name="anoFabricacao"  th:field="*{anoFabricacao}"class="linha-ano_fabricacao" placeholder="Informe o Ano Fabricação" required data-input>  
                    </div>

                    <div class="input-box">
                        <label for="">Cor Veiculo</label>
                        <input id="cor_veiculo" type="text" name="cor" class="linha-cor_veiculo"  th:field="*{cor}"placeholder="Informe a do Cor Veiculo" required data-input>
                    </div>

                    <div class="input-box">

                        

                       
                            <div class="input-box" >
                                <label for="" >Capacidade Maxima</label>
                                <input id="max_kg" type="text" name="capacidade" class="linha-max_kg"  th:field="*{capacidade}" placeholder=" Capacidade Maxima em KG" required data-input > 
                            </div>
                        
        
                      

                    </div>

                    <div class="input-box">
                        <label for="foto">Mudar imagem foto do Veiculo</label>
                        <input type="file" id="foto" name="foto" accept="image/*" style="width: 480px;">
                    </div>
       
                        <div class="input-box">
                            <label for="">Observações Adicionais</label>
                            <textarea id="mensagem" name="observacoes" th:field="*{observacoes}" rows="3" cols="65"></textarea>
                        </div>

                </div>

                <div class="continue-button">
                    <button><a>Salvar</a> </button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{js/veiculo_js/editar_veiculo.js}" defer></script>
</body>

</html>