

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*tela inteira*/
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9ebf5fb;
    
}

/*quadrado do meio*/
.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px #202e64;;
}

/*div da imagem*/
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202e64;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
    box-shadow: 6px 5px 10px #d9ebf5fb;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 5rem;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.voltar-button {  
    position: absolute;
    top: 100px;
    right: 170px;
}

.voltar-button button {  
    border: none;
    background-color: #202e64;;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.voltar-button button:hover {  
    background-color: #332cb8;
}

.voltar-button button a { 
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

/*traço de baixo do nome cadastro*/
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #202e64;;
    margin: 1 auto;
    position: absolute;
    
}

/*configura tamanho e posição dos inputs*/
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
}

/*Luz de fora nos campos para digitar*/
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #403aaaef;
    font-size: 0.8rem;
}

/*luz de dentro quando clicar acender*/
.input-box input:hover {
    background-color: #9dc9ec25;
}

/*acende linhas do campo de digitar*/
.input-box input:focus-visible {
    outline: 1px solid #332cb8;
}

/*cor da letra dos campos solicitando os dados ex: nome cpf*/
.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #020202c0;
}

.input-box input::placeholder {
    color: #554df5e1;
}

/*botao cadastrar*/
.btn-cadastrar button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #202e64;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

/*acendendo botao cadastrar*/
.btn-cadastrar button:hover {
    background-color: #332cb8;
}

/*nome cadastrar dentro do botao*/
.btn-cadastrar button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/*mechendo cep*/
.linha-cep{
    width: 28rem;
    height: 2.8rem;
}



/*responsivo tela tablet*/
@media screen and (max-width:1330px) {
    .form-image{
        display:none;
    }
.container{
    width: 50%;
}
.form{
    width: 100%;
}

.voltar-button {  
    position: absolute;
    top: 110px;
    right: 300px;
}

}

/*responsivo tela celular*/
@media screen and (max-width:1064px){
    .container{
        width: 90%;
        height: auto;
    }
    /*barra de rolagem*/
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 12rem;
        max-width: 14rem;
    }

    .linha-cep{
        
        width: 14rem;
        height: 2.8rem;
    }

    .voltar-button {
     position: fixed;  
    top: 33%;
    right: 46%; 
}

}

@media screen and (max-width:558px){

    .voltar-button {
        
        position: fixed;  
         top: 36%;
         right: 40%; 
   }
}
