
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index_css/acesso_negado.css}">>
    
    <title>Acesso negado</title>
</head>
<body>

    <div class="container">

    <div class="link"><h3>Acesso Negado</h3></div>

    <div class="image">
    <img th:src="@{/img/index_img/acesso-negado.jpg}"alt="acesso-negado">
    </div>
    
    
    </div>
    
</body>
</html>