<!DOCTYPE html>
<html lang="pt-br">

<head>

    <link rel="stylesheet" href="/cadastro_login/css/cadastro_veiculo.css">
    <title>Cadastro Veiculo</title>
</head>

<body>
    

    <div class="container">
        <div class="form-image">
            
            <img src="/cadastro_login/img/cadastro_veiculo02.jpg" alt="">
        </div>

        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro Veiculo</h1>
                        <br>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="">Numero do documento do veiculo</label>
                        <input id="numero_veiculo" type="text" name="numero_veiculo" class="linha-numero_veiculo" placeholder="Informe Documento Veiculo" required data-input>  
                    </div>
                    <div class="input-box">
                        <label for="">Placa veiculo</label>
                        <input id="placa_veiculo" type="text" name="placa_veiculo" class="linha-placa_veiculo" placeholder="Informe a placa do Veiculo" required data-input>  
                    </div>

                    <div class="input-box">
                        <label for="">Ano Fabricação</label>
                        <input id="ano_fabricacao" type="year" name="ano_fabricacao" class="linha-ano_fabricacao" placeholder="Informe o Ano Fabricação" required data-input>  
                    </div>

                  
                    <div class="input-box">
                        <label for="">Cor Veiculo</label>
                        <input id="cor_veiculo" type="text" name="cor_veiculo" class="linha-cor_veiculo" placeholder="Informe a do Cor Veiculo" required data-input>
                    </div>

                    <div class="input-box">
                        <label for="foto">Selecione fotos do Veiculo</label>
                        <input type="file" id="foto" name="foto" accept="image/*">
                        </div>


                    <div class="gender-inputs">
                        <div class="gender-title">
                            <h6>Veiculo Possui</h6>
                        </div>
    
                        <div class="gender-group">

                            <div class="gender-input">
                                <input id="ar-Condicionado" type="checkbox" name="ar-Condicionado" >
                                <label for="ar-Condicionado">Ar-Condicionado</label>
                            </div>
    
                             <div class="gender-input">
                                 <input id="wifi" type="checkbox" name="wifi" >
                                 <label for="wifi">Wifi</label>
                             </div>
    
                             <div class="gender-input">
                                <input id="tv" type="checkbox" name="tv" >
                                <label for="tv">Tv</label>
                            </div>

                            <div class="gender-input">
                                <input id="som" type="checkbox" name="som" >
                                <label for="som">Som</label>
                            </div>
    
                        </div>
                    </div>
       
                        <div class="input-box">
                            <label for="">Observações Adicionais</label>
                            <textarea id="mensagem" name="mensagem" rows="4" cols="60"></textarea>
                        </div>

                </div>

                <div class="continue-button">
                    <button><a href="/cadastro_login/view/cadastro_endereco.html">Continuar</a> </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>