<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Escolher Serviço</title>
    <link rel="stylesheet" href="/cadastro_login/css/escolher_servico.css" />
  </head>
  <body>

    <header>

      <nav class="nav-bar">
  
      <div class="logo">
     <a href="#" class="nav-link"> <h1>Centauri</h1></a>
      </div>
  
      <div class="nav-list">
  <ul>
      <li class="nav-item"><a href="#" class="nav-link">Editar Dados</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Minhas Viagens</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Mudar Perfil</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
  
  </ul>
      </div>
  
      <div class="login-button">
          <button><a href="/cadastro_login/view/login.html">Sair</a></button>
          
      </div>
  </header>

    <div class="container" >
      <!-- Card 1 -->
      <div class="card card-1">
        <!-- card-header -->
        <div class="card-header">
          <img src="/cadastro_login/img/viagem2.jpg" class="card-img" />
        </div>
        <!-- card-header -->

        <!-- card-body -->
        <div class="card-body">
          <h2 class="card-titulo">Viagem</h2>
          <div class="input-box">
          <label for="">Selecione o Veiculo</label>
          <select name="" id="veiculo">
            <option id="" value="" ></option>
            <option value="carro">Carro</option>
            <option value="kombi">Kombi</option>
            <option value="van">Van</option>
            <option value="van">Onibus</option>
          </select>
          <br>
         
          <label for="">Quantidade minima de acentos</label>
          <input type="text">
        </div>
      </div>
        <!-- card-body -->

        <!-- card-footer -->
        <div class="card-footer">
          <a href="#">Concluir</a>
        </div>
        <!-- card-footer -->
      </div>
      <!-- Card 1 -->

      <!-- Card 2 -->
      <div class="card card-2">
        <!-- card-header -->
        <div class="card-header">
          <img src="/cadastro_login/img/mudanca.JPG" class="card-img" />
        </div>
        <!-- card-header -->

        <!-- card-body -->
        <div class="card-body">
          <h2 class="card-titulo">Mudança</h2>
          <div class="input-box">
          <label for="">Selecione o Veiculo</label>
          <select name="" id="veiculo">
            <option id="" value="" ></option>
            <option value="caminhao">Caminhão</option>
          </select>
          <br>
         
          <label for="">Carga minima em KG</label>
          <input type="text">
        </div>
      </div>
        <!-- card-body -->

        <!-- card-footer -->
        <div class="card-footer">
          <a href="#">Concluir</a>
        </div>
        <!-- card-footer -->
      </div>
      <!-- Card 2 -->

      <!-- Card 3 -->
      <div class="card card-3">
        <!-- card-header -->
        <div class="card-header">
          <img src="/cadastro_login/img/frete02.JPG" class="card-img" />
        </div>
        <!-- card-header -->

        <!-- card-body -->
        <div class="card-body">
          <h2 class="card-titulo">Frete</h2>
          <div class="input-box">
          <label for="">Selecione o Veiculo</label>
          <select name="" id="veiculo">
            <option id="" value="" ></option>
            <option value="caminhonete">Caminhonete</option>
          </select>
          <br>
         
          <label for="">Carga minima em Litros</label>
          <input type="text">
        </div>
      </div>
        <!-- card-body -->

        <!-- card-footer -->
        <div class="card-footer">
          <a href="#">Concluir</a>
        </div>
        <!-- card-footer -->
      </div>
      <!-- Card 3 -->
      
     
    </div>
  </body>
</html>
