<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/index_css/index.css}">
    <title>Centauri</title>

</head>
<body>
<script th:src="@{js/index_js/index.js}" defer></script>


  <header>

    <nav class="nav-bar">

    <div class="logo">
         <a th:href="@{/}" class="nav-link"><h1>Centauri</h1></a>
    </div>

    <div class="nav-list">
       <ul>
      <li class="nav-item"><a th:href="@{/}" class="nav-link">Saiba Mais</a></li>
      <li class="nav-item"><a  th:href="@{/cadastro/usuario}" class="nav-link">Cadastre-se Usuario</a></li>
      <li class="nav-item"><a  th:href="@{/cadastro/motorista}" class="nav-link">Cadastre-se Motorista</a></li>
       </ul>
    </div>



    <div class="login-button">

        <button><a th:href="@{/login/usuario}">Entrar Usuário</a></button>
           <button><a th:href="@{/login/motorista}">Entrar Motorista</a></button>
    </div>
     </nav>
</header>

<div class="content">
    <div class="slides">
        <input class="input" type="radio" name="slide" id="slide1" checked>
        <input class="input" type="radio" name="slide" id="slide2">
        <input class="input" type="radio" name="slide" id="slide3">

        <div class="slide s1">
            <img th:src="@{/img/index_img/cadastrando-index.JPG}" alt="cadastrando-index">
        </div>

        <div class="slide">
            <img th:src="@{/img/index_img/planejando-viagem-index.JPG}" alt="planejando-viagem-index">
        </div>

        <div class="slide">
            <img th:src="@{/img/index_img/viagem-celular-index.JPG}" alt="viagem-celular-index">
        </div>
    </div>
</div>
</body>
</html>
