<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <script></script>
    <title>Home</title>
</head>
<body>
    
<header>

    <nav class="nav-bar">

    <div class="logo">
    <h1>Centauri</h1>
    </div>

    <div class="nav-list">
<ul>
    <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Mudar Perfil</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>

</ul>
    </div>

    <div class="login-button">
        <button><a href="/login">Entrar</a></button>
        <button><a href="/cadastro">Cadastre-se</a></button>
    </div>


</header>

</body>
</html>