<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>Dados Motorista</th>

    </tr>
    <tr th:each="motorista : ${motorista}">
        <td th:text="${motorista.nome}"> </td>

    </tr>
    <tr th:each="motorista : ${motorista}">
        <td th:text="${motorista.email}"> </td>

    </tr>
    <tr th:each="motorista : ${motorista}">
        <td th:text="${motorista.cnh}"> </td>

    </tr>
    <tr th:each="motorista : ${motorista}">
        <td th:text="${motorista.telefone}"> </td>

    </tr>
    <tr th:each="motorista : ${motorista}">
        <td th:text="${motorista.senha}"> </td>

    </tr>
</table>


</body>
</html>