<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
  <tr>
      <th>Nome Usuario</th>
      <th>Email Usuario</th>
      <th>CPF Usuario</th>
      <th>Numero Usuario</th>

  </tr>
  <tr th:each="usuario : ${usuario}">

      <td th:text="${usuario.nome}" > </td>
      <td th:text="${usuario.email}"> </td>
      <td th:text="${usuario.cpf}"></td>
      <td th:text="${usuario.numero}"></td>

      <td><a th:href="|/usuario/editar/${usuario.id}"> editar </a>
          <a th:href="|/usuario/deletar/${usuario.id}"> deletar </a>


  </tr>
</table>


</body>
</html>