<!DOCTYPE html 5>
<html lang="pt-br">

<head>

    <link rel="stylesheet" href="/cadastro_login/css/redefinindo_senha.css">
    
    <title>Redefinir Senha</title>
</head>

<body>
    <script src="/cadastro_login/js/redefinindo_senha.js" defer></script>
    
    <div class="container">
        <div class="form-image">
            
            <img src="/cadastro_login/img/alterar_senha.svg" alt="">
            </div>

   
    
    <div class="form">

            <form id="endereco-form">
                <div class="form-header">
                    <div class="title">
                        <h1>Refedina sua senha</h1>
                    </div>

                   
                </div>

                <div class="input-group">
                   
                    <div class="input-box">
                        <label for="password">Nova senha</label>
                        <input id="password" type="password" name="password" class="linha-nova_senha" placeholder="Informe a nova senha" required data-input>
                    </div>

                    <div class="input-box">
                        <label for="password">Confirme a Nova senha</label>
                        <input id="password" type="password" name="password" class="linha-nova_senha" placeholder="Confirme a nova senha" required data-input>
                    </div>

                    <div class="input-exibir-senha">
                        <label for="confirmPassword">Exibir Senha</label>
                        <input type="checkbox" id="confirmPassword" name="confirmPassword" onchange="exibirPassword()">
                        </div>

                </div>

                <div class="btn-cadastrar">
                    <button id="btn-cadastrar" type="submit"><a href="#">Salvar</a> </button>
                </div>
               
                

                
            </form>
        </div>
    </div>
</body>

</html>