<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/motorista_css/redefinindo_senha_motorista.css}">
    
    <title>Redefinir Senha</title>
</head>

<body>
    <script th:src= "@{/js/motorista_js/redefinindo_senha_motorista.js}" defer></script>
    
    <div class="container">

            <div class="form-image">
            <img  th:src="@{/img/motorista_img/redefinindo_senha_motorista.svg}" alt="alterar a senha">
            </div>

        <div class="form">

            <form action="/redefinir/senha" method="post" id="endereco-form">
                <div class="form-header">
                    <div class="title">
                        <h1>Refedina sua senha</h1>
                    </div>

                   
                </div>

                <div class="input-group">
                   
                    <div class="input-box">
                        <label for="codigo">Codigo</label>
                        <input id="codigo" type="text" name="codVerificar" class="linha-nova_senha" minlength="6" placeholder="Codigo recebido no email" required data-input>
                    </div>

                    <div class="input-box">
                        <label for="password">Nova senha</label>
                        <input id="password" type="password" name="senha" class="linha-nova_senha" minlength="8" placeholder="Informe a nova senha" required data-input>
                    </div>

                    <div class="input-box">
                        <label for="confirmPassword">Confirme a Nova senha</label>
                        <input id="confirmPassword" type="password" name="passwordValid" class="linha-nova_senha" minlength="8" placeholder="Confirme a nova senha" required data-input>
                    </div>

                    <div class="input-exibir-senha">
                        <label for="confirmPassword">Exibir Senha</label>
                        <input type="checkbox" id="confirmPassword" name="confirmPassword" onchange="exibirPassword()">
                    </div>

                 </div>

                 
                 <div class="btn-cadastrar">
                    <button id="btn-cadastrar" type="submit"><a>Salvar</a> </button>
                    <div class="link-a">
                        
                        <a th:href="@{/esqueci/senha}">Esqueceu codigo ?</a>
                        <a th:href="@{/login/motorista}">Ir para Login</a>
                    </div>
                    
                 </div>

                  <div th:text="${msgErro2}"  > </div>
                  <div th:text="${msgSenhaAlterada}"  th:style="${style}"> </div>
               
                
                </div>
                
                 </form>
            </div>
</div>
</body>

</html>