@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap'); 

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
  
body{
    background-color: #d9ebf581;
}



/*tela depois do nav-bar*/
  
.container {
    display: flex;  
    margin: 25px;
    justify-content: center;
}
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 6px 6px 20px rgb(75, 75, 75);
    transition: 0.3s;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-titulo {
    font-size: 30px;
    margin: 3px;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;  
  }
  
  .card-footer a {
    color: rgb(231, 231, 232);
    display: block;
    padding: 16px;
    text-decoration: none;
    font-weight: 400;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
  }
  
  .card-2 .card-footer {
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
  }
  
  .card-3 .card-footer {
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
  }
  
  
  /* Animação Hover mudando de tamanho e cor*/
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
    box-shadow: 6px 6px 20px #000cb3;
  }
  

  
select {
    width: 180px;
    padding: 4px;
    font-size: 16px;
    box-shadow: 1px 1px 6px #403aaaef;
    outline: 1px solid #332cb8;
    border-radius: 5px;
    border: none;
  }

  select:hover {  
    background-color: #d9ebf5fb;
}
  
  /* Estilo personalizado para cada opção */
  option {
    background-color: #d9ebf5fb;
    color: #000000;
  }
  
  /* Estilo quando uma opção é selecionada */
  option:checked {
    background-color: #7ab8ee;
  }

  label{
    margin: px;
  }

  
.input-box {
    flex-direction: column;
}

/*Luz de fora nos campos para digitar*/
.input-box input {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #403aaaef;
    font-size: 0.8rem;
}

/*luz de dentro quando clicar acender*/
.input-box input:hover {
    background-color: #9dc9ec25;
    
}

/*acende linhas do campo de digitar*/
.input-box input:focus-visible {
    outline: 1px solid #332cb8;
}

/*cor da letra dos campos solicitando os dados ex: nome cpf*/
.input-box label,
.gender-title h6 {
    
    font-size: 0.79rem;
    font-weight: 600;
    color: #020202c0;
}

.input-box input::placeholder {
    color: #554df5e1;
}