
* {
    padding: 0;
    margin: 0;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgba(144, 157, 252, 0.678), rgba(206, 208, 255, 0.827));
    position: flex;
}


  


.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-15%);
    background: linear-gradient(to right, rgba(0, 21, 104, 0.9), rgba(58, 73, 185, 0.952));
    padding: 50px;
    border-radius: 30px;
    width: 30%;
    margin-bottom: 20px;
    
    
}

fieldset{
    border: 3px solid dodgerblue;
    margin-bottom: 8px;
    border-radius: 10px;
    
}

fieldset:hover {
    box-shadow: 1px 1px 10px #ffffff;
    transition: all 0.8s;  
   
}

fieldset:not(:hover) {
    transition: all 0.8s;  
}



legend{
    border: 1px solid rgb(0, 123, 245);
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 96, 192);
    border-radius: 8px;
}
.inputBox{
    position: relative;
    display: flex;
    flex-direction: column;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 11.9px;
    width: 100%;
    letter-spacing: 2px;
    
}
.labelInput{
    color: rgba(195, 195, 195, 0.806);
    position: absolute;
    top: 0px;
    left: 2px;
    pointer-events: none;
    transition: .5s;
    
    
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

.labelDesabilitado{
    color: dodgerblue;
    position: absolute;
    top: -20px;
    font-size: 12px;
    

}


.data-servico{
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#horario{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}


#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

#mensagemErro{
    background-image: linear-gradient(to right,rgb(172, 0, 0), rgb(160, 36, 52));
    font-size: 15px;
    color: rgba(197, 171, 171, 0.856);
}

#mensagemErro2{
    background-image: linear-gradient(to right,rgb(172, 0, 0), rgb(160, 36, 52));
    font-size: 15px;
    color: rgba(197, 171, 171, 0.856);
}


#mensagemErroData{
    background-image: linear-gradient(to right,rgb(172, 0, 0), rgb(160, 36, 52));
    font-size: 15px;
    color: rgba(197, 171, 171, 0.856);
}
