/* Definição da fonte e plano de fundo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgba(122, 138, 255, 0.845), rgba(206, 208, 255, 0.827));
   
}


header{
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
  
  }
  
  /*posicionar os elementos*/
  .nav-bar {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 6rem;
  }
  
  /*mechendo na logo*/
  .logo{
      display: flex;
      align-items: center;
  }
  
  /*cor na logo*/
  .logo h1{
      color: rgb(232, 232, 231);
  }
  
  /*constumizando o links do menu*/
  /*deixando centralizado*/
  .nav-list{
      display: flex;
      align-items: center;
  }
  
  /*colocando certo um do lado do outro*/
  .nav-list ul{
      display: flex;
      justify-content: center;
      list-style: none;
  }
  
  /*colocando espaço entre itens*/
  .nav-item{
      margin: 0 15px;
  }
  
  /*editando fonte*/
  .nav-link{
      text-decoration: none;
      font-size: 1.15rem;
      color: rgb(232, 232, 231);
      transition: all 0.5s;   
      font-weight: 400;
      
  }
  .nav-link:hover{
      color: rgb(255, 255, 255);
      font-size: 1.36rem;
   
  }
  
  /*Constumizando botao*/
  .login-button button{
      border: none;
      background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
      padding: 10px 15px;
      transition: all 0.5s;
      border-radius: 5px;    
  }
  /* mudando a cor quando passar o mouse por cima*/
  .login-button button:hover{
      background:  #332cb8a8; 
      transform: scale3d(1.1, 1.1, 1);
      transition: all 0.3s;
  }
  
  .login-button button a{
      text-decoration: none;
      color: rgb(232, 231, 231);
      font-weight: 400;
      transition: all 0.3s;
      font-size: 1.1rem; 
  }



/* Estilo do contêiner principal */
.box {
    color: white;
    position: absolute; /* Define a posição absoluta em relação ao ancestral que possui position: relative */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%); /* Centraliza o elemento horizontalmente e o posiciona 20% acima do centro vertical */
    background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(to right, rgba(0, 20, 100, 0.9), rgba(0, 17, 147, 0.798));
    padding: 60px;
    border-radius: 30px;
    width: 30%; /* Define a largura do elemento */
}

/* Efeito de sombra e transição no hover do contêiner */
.box:hover {
    box-shadow: 1px 1px 10px #0091ff;
    transition: all 0.8s; /* Define uma transição suave para todas as mudanças de estilo */
    transform: translate(-50%, -20%); /* Aparentemente duplicado, mas não tem efeito porque a regra anterior já define o mesmo valor */
    padding: 62px; /* Aumenta um pouco o preenchimento no hover */
}

/* Estilo do fieldset */
fieldset {
    border: 3px solid dodgerblue;
}

/* Efeito de sombra e transição no hover do fieldset */
fieldset:hover {
    box-shadow: 1px 1px 10px #ffffff;
    transition: all 0.8s; /* Define uma transição suave para todas as mudanças de estilo */
}

/* Estilo da legenda do fieldset */
legend {
    border: 1px solid rgb(0, 123, 245);
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 96, 192);
    border-radius: 8px;
}

/* Estilo do contêiner dos campos de entrada */
.inputBox {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Estilo dos campos de entrada */
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 11.9px;
    width: 100%;
    letter-spacing: 2px;
}

/* Estilo das etiquetas associadas aos campos de entrada */
.labelInput {
    color: rgba(195, 195, 195, 0.806);
    position: absolute;
    top: 0px; /* Posiciona a etiqueta no topo do campo de entrada */
    left: 2px;
    pointer-events: none;
    transition: .5s; /* Define uma transição suave para as mudanças de estilo */
}

/* Quando o campo de entrada está em foco ou é válido, a etiqueta se move para cima e muda de cor */
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px; /* Move a etiqueta para cima */
    font-size: 10px; /* Reduz o tamanho da fonte da etiqueta */
    color: dodgerblue; /* Muda a cor da etiqueta */
}

/* Estilo específico para o campo de data-servico */
#data-servico {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

/* Estilo específico para o campo de horario */
#horario {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

/* Estilo do botão submit */
#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

/* Efeito de transição no hover do botão submit */
#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}
