<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/usuario_css/editar_usuario.css}">



    <title>Editar do usuario</title>
</head>
<body>
<script></script>


 <!-- direcionamento da pagina do head do usuairo -->
 <div th:include="usuario_html/header-usuario.html"></div>




<div class="container">
    <div class="form-image">
        <img th:src="@{/img/usuario_img/cadastro_usuario.svg}" alt="imagem cadastro do usuario">

    </div>

    <div class="form">
        <form th:action="@{/cadastro/usuario}" th:object="${usuario}" method="post" >
            <input type="hidden" th:field="*{id}" id="id" name="id">
            <div class="form-header">
                <div class="title">
                    <h1>Editar Usuario</h1>
                </div>

            </div>

            <div class="input-group">
                <div class="input-box">
                </div>

                <div class="input-box">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" th:field="*{nome}" name="nome" placeholder="Digite seu nome completo" required>
                </div>

                <div class="input-box">
                    <label for="cpf">CPF</label>
                    <input id="cpf" type="text" name="cpf" th:field="*{cpf}" placeholder="Digite seu CPF" required>
                </div>


                <div class="input-box">
                    <label for="numero">Celular</label>
                    <input id="numero" type="text" name="numero"th:field="*{numero}"placeholder="(xx) xxxx-xxxx" required>
                </div>


                <div class="input-box">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" name="email" th:field="*{email}"placeholder="Digite seu e-mail" required>
                </div>

                <div class="input-box">
                    <label for="dataNascimento" class="nome-data">Data Nascimento</label>
                    <input id="dataNascimento" type="date" name="dataNascimento" class="linha-data">
                </div>

            </div>
            <div class="input-box">
                <div class="gender-inputs">
                    <div class="gender-title">
                        <h6>Sexo</h6>
                    </div>

                    <div class="gender-group">
                        <div class="gender-input">
                            <input id="feminino" type="radio" name="sexo" value="FEMININO" required data-input>
                            <label for="FEMININO">Feminino</label>
                        </div>

                        <div class="gender-input">
                            <input id="masculino" type="radio" name="sexo" value="MASCULINO" required data-input>
                            <label for="MASCULINO">Masculino</label>
                        </div>

                        <div class="gender-input">
                            <input id="outro" type="radio" name="sexo" value="OUTRO" required data-input>
                            <label for="OUTRO">Outro</label>
                        </div>

                    </div>

                <div class="continue-button">
                    <button type="submit">Salvar</button>
                </div>
        </form>
    </div>
</div>
</body>

</html>