<!DOCTYPE html >
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/usuario_css/esqueceu_senha_usuario.css}">
    <title>Esqueceu senha</title>
</head>

<body>
    <script></script>
    
    <div class="container">

        <div class="form-image">
            <img th:src="@{/img/usuario_img/esqueceu_senha_usuario.svg}" alt="">
        </div>

          <div class="form">
            <form action="/esqueceu/senha" method="post" id="endereco-form">
                <div class="form-header">
                    <div class="title">
                        <h1>Confirme email</h1>
                    </div>  
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email">Enviaremos um codigo no seu email </label>
                        <input id="email" type="email" name="email" class="linha-email" placeholder="Informe o email" required data-input>
                    </div>
                </div>

                <div class="btn-cadastrar">
                    <button id="btn-cadastrar" type="submit"><a>Enviar</a> </button>

                </div>
                <div th:text="${msgError}" th:style="${style}" > </div>

                <a th:href="@{/login/usuario}" class="esqueceu-senha">Lembrou da senha?</a>

                
            </form>
        </div>
    </div>
</body>

</html>