<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" th:href="@{/css/veiculo_css/cadastro_veiculo.css}">   
  <img th:src="@{/img/veiculo_img/cadastro_veiculo2.jpg}" alt="imagem cadastro veiculo">
    --> 
    <link rel="stylesheet" href="/principal/css/usuario_css/listar_solicitacoes_usuario.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Servicos Solicitados</title>
</head>

<body>
    <script src="/principal/js/veiculo_js/listar_solicitacoes_usuario.js"></script>



    <header>
        <nav class="nav-bar">
        <div class="logo">
       <a href="/" class="nav-link"> <h1>Centauri</h1></a>
        </div>
        <div class="nav-list">
    <ul>
        <li class="nav-item"><a href="#" class="nav-link">Editar Dados</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Listar Servicos Solicitados</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
    </ul>
        </div>
        <div class="login-button">
            <button><a href="/">Sair</a></button>  
        </div>
        
    </header>


    <div class="container">

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data do Serviço:</th>
                <th scope="col">Horario</th>
                <th scope="col">Valor ofertado</th>
                <th scope="col">Endereço de Partida</th>
                <th scope="col">Endereço de Chegada</th>
                <th scope="col">Nome Motorista</th>
                <th scope="col">Veiculo</th>
                <th scope="col">Servico</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>20/07/2023</td>
                <td>08:00</td>
                <td>800,00</td>
                <td>Jaboatao</td>
                <td>porto de galinhas</td>
                <td>Pedro Victor</td>
                <td>Van</td>
                <td>Viagem</td>
               <td>
                <a class="btn btn-primary" href="#" role="button" style=" background: linear-gradient(to right, rgba(100, 2, 0, 0.9), rgb(255, 0, 0));">Exluir</a>
            </td>
              </tr>
             

    </div>
    </body>
</html>