<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" th:href="@{/css/veiculo_css/cadastro_veiculo.css}">
  <img th:src="@{/img/veiculo_img/cadastro_veiculo2.jpg}" alt="imagem cadastro veiculo">
    -->
    
    <link rel="stylesheet" th:href="@{/css/usuario_css/listar_solicitacoes_usuario.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Servicos Solicitados</title>
</head>

<body>
    
    

     <!-- direcionamento da pagina do head do usuairo -->
     <div th:include="usuario_html/header-usuario.html"></div>

    <div class="container" >

        <table class="table table-striped" >
            <thead>
              <tr>
               
                <th scope="col">Data do Serviço:</th>
                <th scope="col">Horario</th>
                <th scope="col">Valor ofertado</th>
                <th scope="col">Distancia Total</th>
                <th scope="col">Endereço de Partida</th>
                <th scope="col">Endereço de Chegada</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <tr th:each="solicitacaoUsuario : ${solicitacaoUsuario}">
                  <td th:text="${solicitacaoUsuario.data}"> </td>
                  <td th:text="${solicitacaoUsuario.hora}"> </td>
                  <td th:text="${solicitacaoUsuario.valor}"> </td>
                  <td th:text="${solicitacaoUsuario.result}"> </td>
                  <td th:text="${solicitacaoUsuario.enderecoPartida}"> </td>
                  <td th:text="${solicitacaoUsuario.enderecoChegada}"> </td>
               <td><a class="btn btn-primary"  role="button" style=" background: linear-gradient(to right, rgba(100, 2, 0, 0.9), rgb(255, 0, 0));"
                th:href="|/usuario/solicitacao/deletar/${solicitacaoUsuario.id}">Deletar</a>
            </td>
              </tr>


    </div>

    <script th:src="@{/js/veiculo_js/listar_solicitacoes_usuario.js}" defer></script>
    </body>
</html>