<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/usuario_css/redefinindo_senha_usuario.css}">
    
    <title>Redefinir Senha</title>
</head>

<body>
    <script th:src="@{/js/usuario_js/redefinindo_senha_usuario.js}" defer></script>
    
    <div class="container">
        <div class="form-image">
            
            <img  th:src="@{/img/usuario_img/alterar_senha_usuario.svg}" alt="alterar a senha">
            </div>

    <div class="form">

            <form id="endereco-form">
                <div class="form-header">
                    <div class="title">
                        <h1>Refedina sua senha</h1>
                    </div>

                   
                </div>

                <div class="input-group">

                    <div class="input-box">
                        <label for="codigo">Codigo</label>
                        <input id="codigo" type="text" name="codigo" class="linha-nova_senha" placeholder="Codigo recebido no email" required data-input>
                    </div>
                   
                    <div class="input-box">
                        <label for="password">Nova senha</label>
                        <input id="password" type="password" name="password" class="linha-nova_senha" placeholder="Informe a nova senha" required data-input>
                    </div>

                    <div class="input-box">
                        <label for="password">Confirme a Nova senha</label>
                        <input id="password" type="password" name="password" class="linha-nova_senha" placeholder="Confirme a nova senha" required data-input>
                    </div>

                    <div class="input-exibir-senha">
                        <label for="confirmPassword">Exibir Senha</label>
                        <input type="checkbox" id="confirmPassword" name="confirmPassword" onchange="exibirPassword()">
                        </div>

                </div>

                <div class="btn-cadastrar">
                    <button id="btn-cadastrar" type="submit"><a href="#">Salvar</a> </button>
                </div>
               
                

                
            </form>
        </div>
    </div>
</body>

</html>